<div class="main-content">
   <div class="container-fluid" style="height:100%">
      <div class="row">
         <div class="card-body-dashboard-img card-body d-flex carousel-container" style="padding: 0%">
            <app-carousel></app-carousel>
         </div>
      </div>
      <div class="row flex-container">
         <div class="column" style="flex-direction: column;">
            <!--span class="fill-remaining-space"-->
               <button mat-button class="btn">
                  <a class="nav-link" href="//www.facebook.com/profile.php?id=100090950290297" target="_blank">
                     <i style="font-size: 30px;" class="fa-brands fa-facebook"></i>
                  </a>
               </button>
            <!--/span-->
         </div>
      </div>
   </div>
</div>